In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", sep=",")

In [4]:
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [12]:
df1=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test", sep=",",skiprows=1,header=None)
df1.head()

                                                   0   1
0  25, Private, 226802, 11th, 7, Never-married, M... NaN
1  38, Private, 89814, HS-grad, 9, Married-civ-sp... NaN
2  28, Local-gov, 336951, Assoc-acdm, 12, Married... NaN
3  44, Private, 160323, Some-college, 10, Married... NaN
4  18, ?, 103497, Some-college, 10, Never-married... NaN